<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Branches</title>
</head>
<body>
{{msg}}<br>
<form action="/app/{{name}}/create_branch/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Source Branch: <select name="branch" id="branch">
    {% for branch in branches %}
  <option value="{{branch.name}}">{{branch.name}}</option>
    {% endfor %}
  </select><br>
  New Branch : <input type="text" name="new_branch"><br>
  <input type="submit">
</form>
<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
</body>
</html>