<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merge inputs</title>
</head>
<body>
<form action="/app/{{name}}/merge/" method="post" enctype="multipart/form-data>">
  {% csrf_token %}
     target: <select name="target" id="target">
    {% for branch in branches %}
  <option value="{{branch.name}}">{{branch.name}}</option>
    {% endfor %}
  </select><br>
  source : <select name="source" id="source"><br>
    {% for branch in branches %}
  <option value="{{branch.name}}">{{branch.name}}</option>
    {% endfor %}
  </select><br>
<input type="submit" name="merge">
</form>
<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
</body>
</html>