<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{text}}
<p style="text-align: right"><a href="/app/{{repo.name}}/data/">create branch</a></p>
<form action="/app/{{repo.name}}/details/" method="post">
    {% csrf_token %}
Banches :<select name="branch" id="branch">
    {% for branch in branches %}
  <option value="{{branch.name}}">{{branch.name}}</option>
    {% endfor %}
</select>
    <input type="submit" value="submit">
    </form>
<br>
 {% for file in files%}
    {{file.name}}<br>
    {% endfor %}
    <br><a href="/app/{{repo.name}}/file/">create file</a>
<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
</body>
</html>